---

---

<footer class="footer">
  <div class="footer-menu">
    <ul class="menu-link">
      <li><a href="#inicio">Inicio</a> </li>
      <li><a href="#servicios" rel="noreferrer noopener">Servicios</a></li>
      <li><a href="#promociones" rel="noreferrer noopener">Promociones</a></li>
      <li><a href="#contactame" rel="noreferrer noopener">Contacto</a></li>
    </ul>
  </div>
  <span class="footer-legen">
    © 365 Seguridad │ Diseño y Desarrollo por 
    <a
      href="https://henry-azogue.vercel.app/" 
      target="_blank"
      rel="noreferrer noopener"
    >@Ulhis
    </a>
  </span>
</footer>

<style>
  .footer{
    color: var(--color-back);
    margin: 10px 0;
  }
  .footer-menu{
    border-top: 1px solid var(--color-back);
    border-bottom: 1px solid var(--color-back);
  }
  .menu-link{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 4rem 10px;
  
  }
  .footer-legen{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  
  }

  @media (width <= 64em) {
  }
  @media (width <= 56em) {

  }
  @media (width <= 23.4375em) {
    .footer-legen{
      flex-direction: column;
    }
  }
</style>
